<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Red Blend- A Quality Wine</title>
    <link rel="icon" href="static/icons8-wine-64.png" type="image/x-icon">
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f4f4f4;
            padding: 50px;
        }
        h1 {
            font-size: 36px;
            color: #ff0000;
        }
        p {
            font-size: 18px;
            color: #555;
        }
    </style>
</head>
<body>
    
    <h1>Oops! Something went wrong on our end.</h1>
    <p>We're sorry for the inconvenience. Our team has been notified and is working to fix it!</p>
    <p> <b> Error: {{error}} </b> </p>
</body>
</html>
